/* @layer utilities {
  .pulse-color {
    --pulse-color: theme('colors.emerald.200');
  }
}
 */


@keyframes pulse {
    0%, 100% {
      box-shadow: 0 0 0 0px rgba(var(--pulse-color), 0.90);
    }
    50% {
      box-shadow: 0 0 0 4px rgba(var(--pulse-color), 0.75); 
    }
  }
  
  .pulse {
    animation: pulse 2s infinite;
  }